.ipynb_checkpoints
Parkinson_Detection/Hand_drawings/Original_data/
Parkinson_Detection/Hand_drawings/models/
Parkinson_Detection/Hand_drawings/spiral/
Parkinson_Detection/Hand_drawings/100_spiral_model.h5
Parkinson_Detection/Hand_drawings/wave/
