Audio_Classification/Feature_Selection_02.ipynb
Audio_Classification/Untitled.ipynb
Audio_Classification/Voice_Data.csv
Audio_Classification/Voice_Exploration.ipynb
Audio_Classification/feature_selection_with_gender.ipynb
Audio_Classification/voice.csv
Audio_Classification/voice_model.ipynb
Hand_drawings/Final_Trainer/model/
Hand_drawings/modelp/
Hand_drawings/spiral_Augument/
Hand_drawings/spiral_aug_processed/
Hand_drawings/spiral_new/
Hand_drawings/spiral_processed/
